@charset "UTF-8";

.work-area {
  width: 900px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.global-loading-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.global-loading-wrapper {
  margin: 0 auto;
  width: 400px;
  height: 130px;
  position: relative;
  top: calc(50% - 65px);
}
.global-loading-wrong {
  width: 100px;
  height: 100px;
  background: url(../img/load/error.min.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.loading-text {
  color: #fff;
  text-align: center;
}
.tabs {
  width: 230px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-top: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 1)), color-stop(70%, #ccc), to(rgba(17, 17, 17, 1))),
  rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, rgba(17, 17, 17, 1), #ccc 70%, rgba(17, 17, 17, 1)),
  rgba(0, 0, 0, 0.2);
  position: relative;
}
.charts-loading {
  margin: 0 auto;
  margin-top: 200px;
  width: 80%;
  height: 172px;
}
.charts-box {
  margin-top: 170px;
}

.charts-loading img {
  width: 100%;
  height: 100%;
}
.charts-title {
  font-size: 18px;
  color: #fff;
}
.charts {
  width: 220px;
  height: 210px;
}
.statement {
  border-top: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  text-align: center;
}
.statement span {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #666;
}
.copyright {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #999;
  font-style: normal;
  position: absolute;
  left: 0;
  bottom: 8px;
  text-align: center;
}
.statement:hover {
  background-image: -webkit-linear-gradient(left, #cddc39, #e67e22 25%, #cddc39 50%, #e67e22 75%, #cddc39) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  background-size: 200% 100% !important;
  animation: masked-animation 2s infinite linear !important;
  -webkit-animation: masked-animation 2s infinite linear !important;
}

.tab {
  width: 100%;
  height: 56px;
  line-height: 56px;
  border-bottom: 0;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 40px;
}
.tab:hover {
  background: #ddd;
}
.tab:hover .tab-text {
  color: rgb(51, 153, 255);
}
.tab:hover .after-icon {
  display: block;
}
/* .tab:hover .tab::after {
  content: '';
  display: block;
  width: 3px;
  height: 80px;
  background: linear-gradient(to bottom, #ccc, #fff);
} */

.after-icon {
  content: '';
  width: 3px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(51, 153, 255);
}
/* .tab:hover i {
  display: block;
} */

.tab-text {
  font-size: 20px;
  color: #fff;
  /* -webkit-text-stroke: 1px #333; */
  letter-spacing: 0.04em;
}
.content {
  width: 690px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 17, 17, 1)), color-stop(70%, #ccc), to(rgba(17, 17, 17,1)));
  background: linear-gradient(to top, rgba(17, 17, 17, 1), #ccc 70%, rgba(17, 17, 17,1));
}

.online-search-box {
  width: 600px;
  /* height: 200px; */
  margin: 0 auto;
  margin-top: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  overflow: hidden;
}
.online-search-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* box-sizing: border-box;
  padding-right: 18px; */
}
.online-search-title {
  font-size: 18px;
  color: #fff;
}
.add {
  padding: 4px 10px;
  background: #808080;
  cursor: pointer;
  border: 0;
  outline: none;
}
.add:hover {
  background: #ddd;
  color: rgb(51, 153, 255);
}
.online-search-box2 {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  /* -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px; */
}
.online-search-box2:last-of-type {
  margin-bottom: 0;
}
.online-box-wrapper {
  width: 600px;
  /* overflow: hidden; */
}
.online-box {
  width: 620px;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}
.online-search-text {
  outline: 0;
  width: 460px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px 0;
  color: #333;
}
.online-file-button {
  outline: 0;
  width: 96px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  background: #808080;
  border: 0;
  padding: 0;
}
.download-text-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 10px;
}
.online-download-btn:hover {
  outline: 0;
  background: #ddd;
  cursor: pointer;
  color: rgb(51, 153, 255);
}
.settings-key {
  outline: 0;
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px 0;
  color: #333;
}
.api-keys-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 40%;
  transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
}
.settings-content {
  width: 100%;
  height: 100%;
}
.api-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.icon-left {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 6px;
  margin-right: 10px;
}
.icon-local {
  background: url(../img/local.svg) no-repeat center center;
  background-size: 24px 24px;
}
.tab-settings:hover .icon-local {
  background: url(../img/local-active.svg) no-repeat center center;
  background-size: 24px 24px;
}
.icon-online {
  background: url(../img/online.svg) no-repeat center center;
  background-size: 24px 24px;
}

.tab-settings:hover .icon-online {
  background: url(../img/online-active.svg) no-repeat center center;
  background-size: 24px 24px;
}
.icon-settings {
  background: url(../img/settings.svg) no-repeat center center;
  background-size: 24px 24px;
}

.tab-settings:hover .icon-settings {
  background: url(../img/settings-active.svg) no-repeat center center;
  background-size: 24px 24px;
}
.local-content {
  width: 100%;
  height: 100%;
}
.show-result {
  width: 100%;
  height: 38%;
  margin-top: 2%;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
}
.thumb-box {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.thumb-box:first-of-type {
  margin-top: 0;
}
.detail {
  width: 25%;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.size {
  font-size: 12px;
  color: #fff;
}
.find {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.percent {
  color: rgb(59, 214, 119);
  font-size: 12px;
  font-weight: 700;
  width: 40%;
}
.prev-size span {
  vertical-align: middle;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 2px;
}

.thumb {
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  display: inline-block;
  vertical-align: middle;
}
.thumb-left {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.thumb-left span {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.thumb-right {
  width: 48%;
}
.thumb-right span {
  cursor: pointer;
  display: inline-block;
  width: 240px;
  vertical-align: middle;
  color: #fff;
}
.thumb-right span:hover {
  color: rgb(51, 153, 255);
}
.ellp {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.thumb-name {
  font-size: 14px;
  color: #fff;
  display: inline-block;
}
.dir {
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.status {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.next-size {
  display: inline-block;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3px;
}
.find-percent {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 3px;
  padding-left: 10px;
}
.top-line {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: -8px;
}
.bottom-line {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 8px;
}
.row-line {
  border: none;
  border-bottom: 2px dashed #ccc;
  transform: scaleX(3);
  -webkit-transform: scaleX(3);
  -moz-transform: scaleX(3);
  -ms-transform: scaleX(3);
  -o-transform: scaleX(3);
}
.collmn-line {
  position: absolute;
  top: 0;
  width: 2px;
  height: 94%;
  border-left: 2px dashed #ccc;
  transform: scaleY(3);
  -webkit-transform: scaleY(3);
  -moz-transform: scaleY(3);
  -ms-transform: scaleY(3);
  -o-transform: scaleY(3);
}
.right-line {
  right: -2px;
}
.left-line {
  left: 0px;
}
.upload-area {
  cursor: pointer;
  width: 100%;
  height: 60%;
  /* background: #eee; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* top: 50%; */
  /* transform: translateY(-180px);
  -webkit-transform: translateY(-180px);
  -moz-transform: translateY(-180px);
  -ms-transform: translateY(-180px);
  -o-transform: translateY(-180px); */
}
.upload-area:hover .upload-area-img {
  background: url(../img/upload-active.svg) no-repeat center center;
  background-size: 100% 100%;
}
/* .upload-area:hover .upload-area-text {
  color: rgb(51, 153, 255);
  font-size: 24px;
} */
.upload-area:hover .row-line {
  border-bottom: 2px dashed rgb(51, 153, 255);
}
.upload-area:hover .collmn-line {
  border-left: 2px dashed rgb(51, 153, 255);
}
.upload-area-img {
  width: 120px;
  height: 120px;
  margin: 10px auto;
  background: url(../img/upload.svg) no-repeat center center;
  background-size: 100% 100%;
  margin-top: 40px;
}
.upload-area-text {
  color: #fff;
  font-size: 18px;
}
/* switch-button-start   ------- */
.set-title {
  color: #fff;
  font-size: 24px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.set-apikey-text {
  cursor: pointer;
  font-size: 14px;
  padding-top: 13px;
}
.set-apikey-text:hover {
  color: rgb(51, 153, 255);
}
.switch-box {
  display: block;
  margin-top: 6px;
}
.switch-box .switch-box-input {
  display: none;
}
.switch-box.is-success .switch-box-input:checked:not(:disabled)~.switch-box-slider {
  background: #99FF99;
}
.switch-box.is-success .switch-box-input:checked:not(:disabled)~.switch-box-slider:after {
  background: #54d98c;
}
.switch-box .switch-box-input:checked~.switch-box-slider:after {
  left: 16px;
}
.switch-box .switch-box-slider {
  position: relative;
  display: inline-block;
  height: 8px;
  width: 32px;
  background: #d5d5d5;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.switch-box .switch-box-slider:after {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eeeeee;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* -------------   switch-button-end*/

/* change-default-placeholder-color ----- */
input::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}
/*-------- change-default-placeholder-color*/