@charset "UTF-8";

.work-area {
  width: 900px;
  height: 600px;
  display: flex;
}

.tabs {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(to bottom, #eee, #fff 30%, #eee);
  position: relative;
}
.statement {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
}
.statement span {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #ccc;
  /* background-image: -webkit-linear-gradient(left, #cddc39, #e67e22 25%, #cddc39 50%, #e67e22 75%, #cddc39) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  background-size: 200% 100% !important;
  animation: masked-animation 2s infinite linear !important; */
}

.tab {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-bottom: 0;
  cursor: pointer;
  position: relative;
}
.tab:hover {
  background: #ddd;
}
.tab:hover .tab-text {
  -webkit-text-stroke: 1px rgb(51, 153, 255);
}
/* .tab:hover .tab::after {
  content: '';
  display: block;
  width: 3px;
  height: 80px;
  background: linear-gradient(to bottom, #ccc, #fff);
} */

.tab i {
  display: none;
  content: '';
  width: 3px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: rgb(51, 153, 255);
}
/* .tab:hover i {
  display: block;
} */

.tab-text {
  font-size: 20px;
  color: transparent;
  -webkit-text-stroke: 1px #333;
  letter-spacing: 0.04em;
}
.content {
  width: 650px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(to top, #eee, #fff 30%, #eee);
}

.online-search-box {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20%;
  box-sizing: border-box;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.online-search-title {
  font-size: 18px;
  color: #666;
}
.online-search-box2 {
  display: flex;
  justify-content: space-between;
}
.online-search-text {
  outline: 0;
  width: 500px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px 0;
}
.online-file-button {
  outline: 0;
  border: 1px solid #ccc;
  width: 96px;
  height: 44px;
  box-sizing: border-box;
  font-size: 14px;
  color: #666;
}
.online-file-button:hover {
  outline: 0;
  background: rgb(248, 184, 121);
}
.settings-key {
  outline: 0;
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px 0;
}
.api-keys-list {
  box-sizing: border-box;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 50%;
  transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
}
.api-key {
  display: flex;
  justify-content: space-between;
}
/* switch-button-start   ------- */
.switch-box {
  display: block;
  margin-top: 6px;
}
.switch-box .switch-box-input {
  display: none;
}
.switch-box.is-success .switch-box-input:checked:not(:disabled)~.switch-box-slider {
  background: #54d98c;
}
.switch-box.is-success .switch-box-input:checked:not(:disabled)~.switch-box-slider:after {
  background: #2ecc71;
}
.switch-box .switch-box-input:checked~.switch-box-slider:after {
  left: 16px;
}
.switch-box .switch-box-slider {
  position: relative;
  display: inline-block;
  height: 8px;
  width: 32px;
  background: #d5d5d5;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.switch-box .switch-box-slider:after {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eeeeee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* -------------   switch-button-end*/

/* change-default-placeholder-color ----- */
input::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}
/*-------- change-default-placeholder-color*/